body {
	background: linear-gradient(-45deg, #554499, #4618ff, #6007a4, #a767d5, #187189, #0f9f98);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

body:hover{
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
::placeholder{
  color: white;
  padding-left: 5px;
}

.popup-content {
	background-color: transparent !important;
	border: none !important;
}

.cardHover:hover {
	background-color: rgba(255, 255, 255, 0.3) !important;
	animation: fade 0.1s ease-in-out;
}

@keyframes fade {
	0% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}